# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/

# CMake Build directory
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
*.cmake
Makefile

# Runtime Data
data/*
!data/.gitkeep

# VS Code
.vscode/
*.code-workspace

# Microsoft Word
REQUIREMENTS.docx

# MSVC & Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.slnx

# MSVC Debug and Linker files 
*.pdb
*.idb
*.ilk
*.exp

# CMake MSVC generated folders
ALL_BUILD.dir/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/
x64/
x86/
